.contact-us {
	padding: 50px 0 60px;
	background: linear-gradient(180deg, #eff1fd 0%, #fafafc 100%);
}

.contact-us .container {
	position: relative;
}

@media (max-width: 424px) {
	.contact-us {
		padding: 29px 0 36px;
	}
}

@media (max-width: 424px) {
	.contact-us__title {
		margin-left: 10px;
	}
}

.contact-us__left {
	padding-top: 48px;
}

@media (max-width: 575px) {
	.contact-us__left {
		padding-top: 0;
	}
}

.contact-us__right {
	max-width: 607px;
}

@media (max-width: 1199px) {
	.contact-us__right {
		max-width: 475px;
	}
}

@media (max-width: 991px) {
	.contact-us__right {
		margin-top: 50px;
		max-width: unset;
	}
}

@media (max-width: 424px) {
	.contact-us__right {
		margin-top: 35px;
	}
}

.contact-us__form {
	border-radius: 20px;
	padding: 54px 63px 60px;
	background: #fff;
	box-shadow: 0px 26px 44px -10px rgba(57, 81, 219, 0.27);
}

@media (max-width: 1199px) {
	.contact-us__form {
		padding: 35px 30px 35px;
	}
}

@media (max-width: 991px) {
	.contact-us__form {
		padding: 55px 80px 60px;
	}
}

@media (max-width: 767px) {
	.contact-us__form {
		padding: 55px 50px;
	}
}

@media (max-width: 575px) {
	.contact-us__form {
		padding: 40px 20px;
	}
}

@media (max-width: 424px) {
	.contact-us__form {
		border-radius: 11px;
		padding: 23px 30px;
	}
}

@media (max-width: 350px) {
	.contact-us__form {
		padding: 23px 15px;
	}
}

.contact-us__items {
	margin-top: 60px;
}

@media (max-width: 991px) {
	.contact-us__items {
		padding-left: 60px;
	}
}

@media (max-width: 575px) {
	.contact-us__items {
		padding: 0;
	}
}

@media (max-width: 424px) {
	.contact-us__items {
		margin-top: 20px;
	}
}

.contact-us__item {
	display: flex;
	margin-top: 43px;
}

.contact-us__item:first-child {
	margin-top: 0;
}

.contact-us__item:last-child {
	margin-top: 62px;
}

.contact-us__item:last-child .contact-us__content {
	padding-top: 0;
}

@media (max-width: 424px) {
	.contact-us__item {
		margin-top: 32px;
	}

	.contact-us__item:last-child {
		margin-top: 28px;
	}

	.contact-us__item:last-child .contact-us__content {
		padding-top: 5px;
	}
}

.contact-us__icon-wrapper {
	position: relative;
	margin-right: 41px;
	z-index: 11;
	width: 76px;
	height: 76px;
	transform: rotate(23.52deg);
	transition: box-shadow 0.3s ease;
}

.contact-us__icon-wrapper::before {
	content: "";
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%) rotate(22deg);
	border-radius: 10px;
	width: 76px;
	height: 76px;
	background: #e0e1f9;
	opacity: 0.6;
	transition: transform 0.3s ease, opacity 0.1s ease;
}

.contact-us__icon-wrapper::after {
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	border-radius: 10px;
	box-shadow: 0px 26px 44px -10px rgba(57, 81, 219, 0.27);
	background: #fff;
	transition: background-color 0.3s ease, border-color 0.3s ease;
}

@media (max-width: 1199px) {
	.contact-us__icon-wrapper {
		margin-right: 30px;
	}
}

@media (max-width: 424px) {
	.contact-us__icon-wrapper {
		margin-right: 29px;
		margin-left: 15px;
		margin-top: 7px;
		width: 50px;
		height: 50px;
	}

	.contact-us__icon-wrapper::before {
		border-radius: 6px;
		width: 50px;
		height: 50px;
	}

	.contact-us__icon-wrapper::after {
		border-radius: 6px;
	}
}

.contact-us__icon-inner {
	position: relative;
	z-index: 10;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	width: 76px;
	height: 76px;
	transform: rotate(-23.52deg);
	transform-origin: 50% 50%;
}

@media (max-width: 424px) {
	.contact-us__icon-inner {
		width: 50px;
		height: 50px;
	}

	.contact-us__icon-inner img {
		width: 32px;
		height: 32px;
	}
}

.contact-us__content {
	padding-top: 10px;
}

@media (max-width: 424px) {
	.contact-us__content {
		padding-top: 3px;
	}
}

.contact-us__descr {
	font-style: normal;
	font-size: 20px;
	line-height: 120%;
	color: #72798c;
}

.contact-us__descr br {
	display: none;
}

@media (max-width: 1199px) {
	.contact-us__descr {
		margin-top: 8px;
		font-size: 16px;
	}
}

@media (max-width: 424px) {
	.contact-us__descr {
		margin-top: 3px;
		font-size: 14px;
	}

	.contact-us__descr br {
		display: block;
	}
}

.contact-us__socials {
	margin-top: 15px;
}

@media (max-width: 424px) {
	.contact-us__socials {
		margin-top: 13px;
	}
}

.contact-us__phone {
	display: block;
	margin-top: 6px;
}

@media (max-width: 424px) {
	.contact-us__phone {
		font-size: 20px;
	}
}

.contact-us__link {
	display: block;
	color: #0862ee;
	margin-top: 9px;
	font-size: 20px;
}

@media (max-width: 1199px) {
	.contact-us__link {
		font-size: 18px;
	}
}

@media (max-width: 424px) {
	.contact-us__link {
		font-size: 14px;
	}
}

.contact-us__dots .dots__item {
	position: absolute;
	display: block;
}

.contact-us__dots .dots__item:nth-child(1) {
	top: 16.2%;
	left: -3.5%;
}

.contact-us__dots .dots__item:nth-child(2) {
	top: -1.6%;
	left: 22.8%;
}

.contact-us__dots .dots__item:nth-child(3) {
	top: 12.2%;
	left: 39.5%;
}

.contact-us__dots .dots__item:nth-child(4) {
	top: 41.4%;
	left: 29.9%;
}

.contact-us__dots .dots__item:nth-child(5) {
	top: 65.2%;
	left: 46.3%;
	transform: rotate(45deg);
}

@media (max-width: 991px) {
	.contact-us__dots .dots__item:nth-child(1) {
		top: 16.2%;
		left: -3.5%;
	}

	.contact-us__dots .dots__item:nth-child(2) {
		top: -1.6%;
		left: 22.8%;
	}

	.contact-us__dots .dots__item:nth-child(3) {
		top: 9.2%;
		left: 69.5%;
	}

	.contact-us__dots .dots__item:nth-child(4) {
		top: 41.4%;
		left: 89.9%;
	}

	.contact-us__dots .dots__item:nth-child(5) {
		top: 33.2%;
		left: 4.3%;
	}
}

@media (max-width: 424px) {
	.contact-form__title {
		font-size: 16px;
	}
}

.contact-form__text {
	margin-top: 14px;
	font-weight: 400;
	font-size: 20px;
	line-height: 120%;
	color: #202020;
}

@media (max-width: 1199px) {
	.contact-form__text {
		font-size: 16px;
	}
}

@media (max-width: 424px) {
	.contact-form__text {
		margin-top: 13px;
		padding-right: 20px;
		font-size: 12px;
	}
}

.contact-form__content {
	margin-top: 42px;
}

@media (max-width: 424px) {
	.contact-form__content {
		margin-top: 18px;
	}
}

.contact-form__field-wrapper {
	position: relative;
	display: block;
	margin-bottom: 12px;
	width: 100%;
}

.contact-form__field-wrapper:last-child {
	margin-bottom: 0;
}

.contact-form__field-wrapper:focus-within .contact-form__placeholder {
	top: 8.5px;
	font-size: 12px;
}

.contact-form__field-wrapper.correct .contact-form__placeholder {
	top: 8.5px;
	font-size: 12px;
}

@media (max-width: 424px) {
	.contact-form__field-wrapper {
		margin-bottom: 8px;
	}

	.contact-form__field-wrapper:focus-within .contact-form__placeholder {
		top: 5.5px;
		font-size: 10px;
	}

	.contact-form__field-wrapper.correct .contact-form__placeholder {
		top: 5.5px;
		font-size: 10px;
	}
}

.contact-form__input {
	border: 1px solid #dddfec;
	border-radius: 10px;
	width: 100%;
	display: block;
	padding: 22.5px 28px 8.5px;
	font-weight: 400;
	font-size: 18px;
	line-height: 23px;
	color: #202020;
	transition: border-color 0.3s ease;
}

.contact-form__input--area {
	min-height: 101px;
	resize: none;
}

.contact-form__input:focus {
	outline: 0;
	border-color: #0862ee;
}

@media (max-width: 424px) {
	.contact-form__input {
		border-radius: 5.5px;
		padding: 17.5px 14px 5.5px;
		font-size: 14px;
		line-height: 18px;
	}

	.contact-form__input--area {
		min-height: 86px;
	}
}

.contact-form__placeholder {
	position: absolute;
	top: 17px;
	left: 28px;
	font-weight: 400;
	font-size: 18px;
	line-height: 120%;
	color: #919bb5;
	transition: font-size 0.3s ease, top 0.3s ease;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	pointer-events: none;
}

@media (max-width: 1199px) {
	.contact-form__placeholder {
		font-size: 16px;
	}
}

@media (max-width: 991px) {
	.contact-form__placeholder {
		font-size: 18px;
	}
}

@media (max-width: 424px) {
	.contact-form__placeholder {
		top: 11.5px;
		left: 14px;
		width: calc(100% - 28px);
		font-size: 14px;
		line-height: 120%;
		overflow: hidden;
		text-overflow: ellipsis;
		white-space: nowrap;
	}
}

.contact-form__submit {
	margin-top: 28px;
	width: 100%;
}

@media (max-width: 424px) {
	.contact-form__submit {
		margin-top: 16px;
	}
}