.footer__button {

	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	padding: 10px;



	background: none;
	border: 2px solid #FFFFFF;
	border-radius: 10px;

	margin-bottom: auto;
	margin-top: 0;
	font-family: 'Onest';
	font-style: normal;
	font-weight: 700;
	font-size: 13.186px;
	line-height: 17px;
	color: #FFFFFF;
	cursor: pointer;
	transition: .4s;
	margin-top: 25px;



	@media (min-width: 768px) {
		margin-top: 0;
	}

	@media (min-width: 992px) {
		padding: 15px;
		font-size: 20px;
		line-height: 26px;
	}

	@media (min-width: 1200px) {
		padding: 16px 28px;

	}
}