.header-position-fixed {
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	z-index: 101;
}

.header-position-fixed {
	.header__link {
		color: #fff;
	}

	.dropdown__link {
		color: #202020;
	}

	.header__callback {
		color: #fff;
	}

	.header__phone {
		color: #fff;
	}
}