 @import "../scss/vendor/reset.scss";
 @import "../scss/vendor/fonts.scss";
 @import "../scss/default/default.scss";
 @import "../scss/block/header.scss";
 @import "../scss/block/footer.scss";
 @import "../scss/block/contact.scss";
 @import "../scss/block/about.scss";
 @import "../scss/block/possibil.scss";
 @import "../scss/block/trying.scss";
 @import "../scss/block/review.scss";
 @import "../scss/block/example.scss";

 // 06.11.2024
 @import "../scss/block/results-analysis.scss";
 @import "../scss/block/banner.scss";

 @media(max-width:768px) {
 	.example__wrapp {
 		position: relative;
 		isolation: isolate;

 		&::after {
 			content: "";
 			background: linear-gradient(to right, #F0F5F9, transparent);
 			width: 30px;
 			height: 55px;
 			left: 0;
 			top: 0;
 			z-index: 1;
 			position: absolute;
 			border-radius: 16px 0 0 0;
 		}

 		&::before {
 			content: "";
 			background: linear-gradient(to left, #F0F5F9, transparent);
 			width: 30px;
 			height: 55px;
 			right: 0;
 			top: 0;
 			z-index: 1;
 			position: absolute;
 			border-radius: 0 16px 0 0;
 		}
 	}
 }

 /* 12.11.2024 analysis*/

 .example__acc.--red .example__acc-btn.--active {
 	background: #fff2f2;
 }

 .example__acc-head.--red {
 	background: #D53536;
 }

 .example__acc.--orange .example__acc-btn.--active {
 	background: #fff9d6;
 }

 .example__acc-head.--orange {
 	background: #fabf3e;
 }

 .example__acc.--orange .example__acc-text::after {
 	background: #fabf3e;
 }

 @media (max-width: 762px) {
 	.example__acc-wrapp-text {
 		padding-top: 20px;
 	}

 	.example__analysis-list {
 		.example__acc-wrapp-text {
 			padding-top: 0px;
 		}
 	}

 	.example__acc.--orange {
 		.example__acc-wrapp-text {
 			background: #FFF9D6;
 		}
 	}

 	.example__acc.--red {
 		.example__acc-wrapp-text {
 			background: #FFF2F2;
 		}
 	}
 }


 .header__padding-btn {
 	margin-left: auto;
 	margin-right: 30px;

 	@media(max-width:992px) {
 		margin-right: 0;
 	}
 }

 @import "../scss/block/analysis.scss";

 .example__acc-btn.--active {
 	pointer-events: none;
 }

 /*new style 29.11.2024*/

 .example__dell-dotted .example__acc-text::after {
 	background: none;
 	height: 0;
 }



 .analysis__table-wrapp {
 	position: relative;
 	isolation: isolate;
 }

 .analysis__table-head {
 	background: #fff;
 	position: absolute;
 	top: 0;
 	z-index: 1;
 	transition: .7s;

 	.analysis__table-head-coll::after {
 		z-index: -333;
 		height: 0;
 	}

 }