*,
*::after,
*::before {
	box-sizing: border-box;
	font-family: 'avenirnextcyr';
	font-weight: normal;
	font-style: normal;
	font-size: 18px;
	line-height: 130%;
}

a {
	text-decoration: none;
	transition: .4s;
}

ul {
	list-style: none;
}

button {
	border: none;
	outline: none;
	cursor: pointer;
	background: none;
	padding: 0;
	transition: .4s;
}

.page {
	display: flex;
	min-height: 100vh;
	flex-direction: column;

	overflow: hidden;
}


/* убираем тени safari */
input:not([type="checkbox"]):not([type="radio"]),
textarea,
select {
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
}
